.contact-page
  h1 Contact
  br
  p Please direct all inquiries and requests to #{link_to "support@indiepubexchange.com", "mailto:support@indiepubexchange.com", class: "brand-link"}.

br
br
br
br
br
br
br
br
