- rule_index = 0
.rules-page
  h1 Rules

  br
  br

  p <span class="opening-sentence-of-rule">Do not review service providers or clients you have not worked with.</span> In order to cut down on false reviews, you must have messaged a member and had them reply back to you at least once. Posting a false review is strictly prohibited and may result in account probation or termination.

  p <span class="opening-sentence-of-rule">Never disclose client or provider information.</span> All information exchanged during a service is confidential unless explicitly stated otherwise. Sharing a client’s name, pen names, email address, or other information which could be reasonably construed as private or personal information without their permission will result in termination of your account.

  p <span class="opening-sentence-of-rule">No undercutting the industry standard pricing in your service.</span> Indie Exchange reserves the right to remove an advertisement for any reason, including pricing your service too low. If you’re unsure of the industry standard, look around at the other posts for your service or #{link_to "contact us", contact_path, class: "brand-link"} for guidance.

  p <span class="opening-sentence-of-rule">No selling already written manuscripts, whether previously published or never published.</span> We do not allow the sale of copyright transfers on previously written books. It is too easy to fake ownership of a written work, and we do not want to make it easy for people to potentially cheat authors and publishers by lying about whether they own the rights to a given work.  Violation of this rule may result in account probation or termination.

  p <span class="opening-sentence-of-rule">You must pay for services provided and provide services that have been paid for.</span> Any failure to provide a service must result in a refund to your client to avoid being banned from Indie Exchange. Indie Exchange will not reimburse anybody’s money, but we will take action against a user who failed to deliver a product or payment. If an Indie Exchange admin reaches out to you for failure to pay or deliver a product, you have 5 days to respond before your account is terminated.

  p <span class="opening-sentence-of-rule">Indie Exchange reserves the right to refuse membership to, or terminate the accounts of, members who have engaged in harassment of other members, even if the harassment occurred elsewhere.</span> We want this to be a space where authors and publishers feel safe, and if you have used your platform to personally attack other authors or publishers, you are not a good fit for our community.

  p <span class="opening-sentence-of-rule">As a service provider, you must have experience in the indie publishing industry.</span> One of the cornerstones of Indie Exchange is that clients can seek out service providers who will meet needs that are specific to indie publishing and have experience with the needs of indie authors.  If staff determines that this condition is not met, you may be contacted for remediation, or your account may be put on probation or terminated.

  p <span class="opening-sentence-of-rule">No hate speech.</span> The staff of Indie Exchange reserves the right to probate or terminate members who engage in hate speech, including <b>but not limited to</b> the use of slurs in any context or for any reason.

  p <span class="opening-sentence-of-rule">No clever rule circumvention.</span> These rules should be interpreted as broad guidelines which the Indie Exchange staff will apply liberally in order to keep a professional, positive, stress-free atmosphere for all users at all times.  Staff reserves the right to take any actions necessary in furtherment of this goal.

  br
  br
  br
  br
