@mixin transition($what: all, $time: 0.2s, $how: ease-in-out) {
  -webkit-transition: $what $time $how;
  -moz-transition:    $what $time $how;
  -ms-transition:     $what $time $how;
  -o-transition:      $what $time $how;
  transition:         $what $time $how;
}

@mixin gradient-text($angle: 45deg, $color: #f82, $lastcolor: #082) {
  color: $color;
  background: -webkit-linear-gradient($angle, $color, $lastcolor);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  display: inline-block;
}