// VARIABLES FOR: sitewide
$light-font-color: white;
$light-background-color: #f7fbfe;
$dark-background-color: #f5f6fe;

$low-contrast-grey: #81828b;
$mid-contrast-grey: #858aa0;

$brand-dark-purple: #8072ef;
$brand-light-purple: #b797f8;
$brand-box-shadow-purple: rgb(200, 174, 255);
$brand-green: #9ccc64;
$brand-dark-blue: #505266;
$brand-near-black-text: #383a46;
$brand-mid-grey-text: #a7a8b1;
$brand-solid-grey-text: #808289;
$brand-off-black: #1a1a1a;
$brand-off-black-two: #30323f;
$brand-callout-yellow: #ecb329;
$brand-gray-text: #3c3d44;

$possible-brand-blue: #51a3a3;
$possible-brand-lighter-blue: #bbbdf6;
$possible-brand-cream: #f5e6e8;
$possible-brand-cream-alt: #efd9ce;
$possible-brand-white-purple: #e3d8f1;
$possible-brand-yellow: #fcd757;

$icon-medium-gray: #afb0c2;

$brand-warning-color: #ff7587;
$brand-warning-border: 2px solid $brand-warning-color;

$nav-link-font-color: #868aa7;
$nav-link-font-size: 14px;
$nav-link-padding: 10px;
$nav-button-padding: 20px;
$nav-button-interior-padding: 10px 25px;

$indie-exchange-image-height: 98px;

$top-bar-height: 40px;
$default-sitewide-horizontal-padding: 15px;

$top-bar-font-color: white;
$roboto-condensed: 'Roboto Condensed', sans-serif;
$roboto:           'Roboto',           sans-serif;

$purple-gradient-lightening-rightward: linear-gradient(0.25turn, $brand-dark-purple, $brand-light-purple);
$darker-purple-gradient-lightening-rightward: linear-gradient(0.25turn, darken($brand-dark-purple, 4%), darken($brand-light-purple, 4%));

// VARIABLES FOR: homepage & static
$homepage-top-padding:                  80px;
$banner-font-size:                      35px;
$banner-color:                          black;
$mid-banner-font-size:                  20px;
$small-font-size:                       14px;

$icon-medium-small-font-size:           30px;

$subtext-color:                         #6e7386;
$account-button-internal-padding:       20px 30px;
$account-button-internal-padding-hover: 23px 33px;
$account-button-border-radius:          100px;