/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:300;400,400i,500,700');

@import "variables";

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body{
  background-color: $light-background-color;
  position: relative;
  margin: 0;
  min-height: 100%;
  font-family: $roboto-condensed;
}

.force-brand-light-purple{
  color: $brand-light-purple !important;
}

.force-brand-dark-purple{
  color: $brand-dark-purple !important;
}

.more-margin{
  margin-left: 45px;
  margin-right: 45px;
}

.with-light-bottom-border-padded{
  border-bottom: 1px solid #eee;
  padding-bottom: 30px;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
  background: $purple-gradient-lightening-rightward;

  .resources-and-list{
    color: $light-font-color;
    font-family: $roboto-condensed;

    .resources{
      font-weight: bold;
      // margin-top: -4px;
    }

    .resource{
      font-size: $small-font-size;
      margin-top: 10px;

      .resource-link{
        color: $light-font-color;
      }
    }
  }

  .indie-exchange-footer-image{
    display: inline-block;
  }

  .footer-image-caption{
    margin-left: 30px;
    display: inline-block;
    color: $light-font-color;
    font-family: $roboto-condensed;
    font-size: $small-font-size;
  }

  .footer-bottom-row{
    padding-top: 30px;

    .copyright-line{
      color: $light-font-color;
      font-family: $roboto-condensed;
      font-size: $small-font-size;
      font-weight: bold;
    }
  }
}

.with-sitewide-padding{
  padding-left: $default-sitewide-horizontal-padding;
  padding-right: $default-sitewide-horizontal-padding;
}

.main-navigation-row{
  margin-top: 20px;

  .main-navigation-buttons{
    span{
      padding-left: $nav-button-padding;
      padding-right: $nav-button-padding;
    }

    .main-navigation-button{
      padding: $nav-button-interior-padding;
    }

    .main-navigation-sign-in{
      color: $brand-dark-purple;
      border: 2px solid $brand-dark-purple;
      border-radius: 100px; // just make it high
    }

    .main-navigation-sign-up{
      background: $purple-gradient-lightening-rightward;
      color: white;
      border-radius: 100px; // just make it high
    }

    line-height: $indie-exchange-image-height;
    font-family: $roboto-condensed;
    font-size: $nav-link-font-size;
  }

  .main-navigation-links{
    span{
      padding-left: $nav-link-padding;
      padding-right: $nav-link-padding;
    }

    line-height: $indie-exchange-image-height;
    font-family: $roboto-condensed;
    color: $nav-link-font-color;
    font-weight: 700;
    font-size: $nav-link-font-size;

    a{
      color: $nav-link-font-color;
    }
  }
}

.header-top-bar{
  height: $top-bar-height;
  background: linear-gradient(0.25turn, $brand-dark-purple, $brand-light-purple);

  .top-bar-line-height{
    line-height: $top-bar-height;
  }


  .sitewide-actions-area{
    .sitewide-navbar-icon{
      color: $top-bar-font-color;
    }

    .sitewide-contact-us, .sitewide-sign-out{
      color: $top-bar-font-color;
      margin-left: 8px;
    }

    .sitewide-navbar-link{
      color: $top-bar-font-color;
      font-family: $roboto-condensed;
    }
  }
}

.no-horizontal-padding{
  padding-left: 0px;
  padding-right: 0px;
}

.form-error-container{
  background-color: lighten($brand-warning-color, 2.5%);
  padding: 10px;
  border-radius: 3px;
  margin-bottom: 20px;

  .error-explanation-header{
    font-family: $roboto-condensed;
    font-size: 20px;
    font-weight: bold;
  }

  .error-detail{
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 700;
  }

}

.pl30{
  padding-left: 30px;
}

.bootstrap-field-with-errors{
  border: $brand-warning-border;
}

.bootstrap-field-with-errors + .errorable-text{
  border: $brand-warning-border;
  margin: 0px;
  padding: 2px 20px;
  border-radius: 15px;
}

.alert-row{
  background-color: lighten($brand-warning-color, 10%);
}

.notice-row{
  background-color: lighten($brand-green, 10%);
}

.request-row{
  background-color: $possible-brand-yellow;
  a{
    color: darken($brand-dark-purple, 10%);
  }
}

.flash-text{
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: $roboto-condensed;
  font-weight: bold;
  letter-spacing: 0.5px
}

.main-user-controls{
  line-height: $indie-exchange-image-height;
  .profile-information{
    display: inline-block;

    a{
      &:hover{
        text-decoration: none;
      }
    }
  }
  .user-control-profile-picture{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 2px solid $brand-dark-purple;
  }

  .user-display-name{
    color: $brand-dark-blue;
    font-family: $roboto-condensed;
    font-size: $small-font-size;
    font-weight: bold;
    margin-left: 20px;
  }

  .message-information{
    display: inline-block;
    margin-left: 40px;

    .user-messages-link{
      line-height: $indie-exchange-image-height;
      .messages-envelope{
        color: $icon-medium-gray;
        font-size: $icon-medium-small-font-size;
        height: $icon-medium-small-font-size;
        vertical-align: middle;
      }
    }
  }

  .search-information{
    display: inline-block;
    margin-left: 40px;

    .user-search-link{
      line-height: $indie-exchange-image-height;

      .search-magnifying-glass{
        color: $icon-medium-gray;
        font-size: calc(#{$icon-medium-small-font-size} - 7px);
        height: calc(#{$icon-medium-small-font-size} - 7px);
        vertical-align: middle;
      }
    }
  }
}

.brand-link{
  color: $brand-dark-purple;
  font-weight: bold;
  &:hover{
    color: $brand-dark-purple;
  }
}

.brand-banner{
  font-size: $banner-font-size;
  color: $banner-color;
  font-family: $roboto-condensed;
  font-weight: bold;
}

.brand-banner-padded{
  padding-top: 40px;
}

.brand-sub-banner{
  font-family: $roboto-condensed;
  color: $subtext-color;
  padding-top: 20px;
  padding-bottom: 30px;
}

.brand-sub-banner.less-padding{
  padding-top: 0px;
}

.midsize-banner{
  font-size: $mid-banner-font-size;
  color: $banner-color;
  font-weight: bold;
}

.form-control{
  margin-bottom: 20px;
}

.form-control:focus{
  border-color: $brand-light-purple;
  box-shadow: 0 0 0 0.2rem rgba(183, 151, 248, 0.25);
}

.form-label{
  display: block;
  font-weight: bold;
  color: $brand-dark-purple;
}

.form-label.less-margin{
  margin-bottom: 0px;
}

.form-helper{
  font-size: $small-font-size;
}

.form-helper.with-margin{
  margin-bottom: 5px;
}

// button stuff!
.btn-primary{
  background-color: darken($brand-dark-purple, 22%);
  border-color: darken($brand-dark-purple, 30%);
  font-weight: bold;
  letter-spacing: 0.5px;
  padding: 10px 20px;

  &:hover{
    background-color: darken($brand-dark-purple, 25%);
  }

  &:active{
    background-color: darken($brand-dark-purple, 22%);
  }

  &:focus{
    box-shadow: 0 0 0 0.2rem rgba(183, 151, 248, 0.5);
  }
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle{
  background-color: darken($brand-dark-purple, 20%);
}

.btn-success{
  background-color: darken($brand-green, 15%);
  border-color: darken($brand-green, 20%);
  font-weight: bold;
  letter-spacing: 0.5px;
  padding: 10px 20px;

  &:hover{
    background-color: darken($brand-green, 25%);
  }

  &:active{
    background-color: darken($brand-green, 20%);
  }

  &:focus{
    box-shadow: 0 0 0 0.2rem rgba(183, 151, 248, 0.5);
  }
}

.btn-success:not(:disabled):not(.disabled):active, .btn-success:not(:disabled):not(.disabled).active, .show > .btn-success.dropdown-toggle{
  background-color: darken($brand-green, 20%);
}

.branded-pill-button{
  color: $light-font-color;
  background: $purple-gradient-lightening-rightward;
  padding: $account-button-internal-padding;
  border-radius: $account-button-border-radius;
  box-shadow: 0px 8px 30px -5px $brand-light-purple;
  @include transition(all, 0.15s, ease-in-out);

  &:hover{
    text-decoration: none;
    box-shadow: 0px 8px 30px -5px $brand-dark-purple;
    padding: $account-button-internal-padding-hover;
    @include transition(all, 0.15s, ease-in-out);
    color: white;
    background: $darker-purple-gradient-lightening-rightward;
  }

  &:focus{
    box-shadow: 0px 8px 30px -5px $brand-light-purple;
  }
}

.branded-pill-button.thin{
  font-size: 14px;
  padding: 10px 20px;
}

// stars
.filled-star{
  color: $brand-callout-yellow;
}

.unfilled-star{
  color: #ebebeb;
}

.unfilled-star.half{
  margin-left: -18px;
}

.carded-content{
  background-color: white;
  box-shadow: 0px 4px 10px 0px rgba(128, 128, 128, 0.3);
  padding: 50px 40px;
  margin-right: 8px;
  margin-left: 8px;
}