/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,700');

@import "variables";

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body{
  background-color: $light-background-color;
  position: relative;
  margin: 0;
  min-height: 100%;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
  background: $purple-gradient-lightening-rightward;

  .resources-and-list{
    color: $light-font-color;
    font-family: $roboto-condensed;

    .resources{
      font-weight: bold;
      // margin-top: -4px;
    }

    .resource{
      font-size: $small-font-size;
      margin-top: 10px;

      .resource-link{
        color: $light-font-color;
      }
    }
  }

  .indie-exchange-footer-image{
    display: inline-block;
  }

  .footer-image-caption{
    margin-left: 30px;
    display: inline-block;
    color: $light-font-color;
    font-family: $roboto-condensed;
    font-size: $small-font-size;
  }

  .footer-bottom-row{
    padding-top: 30px;

    .copyright-line{
      color: $light-font-color;
      font-family: $roboto-condensed;
      font-size: $small-font-size;
      font-weight: bold;
    }
  }
}

.with-sitewide-padding{
  padding-left: $default-sitewide-horizontal-padding;
  padding-right: $default-sitewide-horizontal-padding;
}

.main-navigation-row{
  margin-top: 20px;

  .main-navigation-buttons{
    span{
      padding-left: $nav-button-padding;
      padding-right: $nav-button-padding;
    }

    .main-navigation-button{
      padding: $nav-button-interior-padding;
    }

    .main-navigation-sign-in{
      color: $brand-dark-purple;
      border: 2px solid $brand-dark-purple;
      border-radius: 100px; // just make it high
    }

    .main-navigation-sign-up{
      background: $purple-gradient-lightening-rightward;
      color: white;
      border-radius: 100px; // just make it high
    }

    line-height: $indie-exchange-image-height;
    font-family: $roboto-condensed;
    font-size: $nav-link-font-size;
  }

  .main-navigation-links{
    span{
      padding-left: $nav-link-padding;
      padding-right: $nav-link-padding;
    }

    line-height: $indie-exchange-image-height;
    font-family: $roboto-condensed;
    color: $nav-link-font-color;
    font-weight: 700;
    font-size: $nav-link-font-size;

    a{
      color: $nav-link-font-color;
    }
  }
}

.header-top-bar{
  height: $top-bar-height;
  background: linear-gradient(0.25turn, $brand-dark-purple, $brand-light-purple);

  .top-bar-line-height{
    line-height: $top-bar-height;
  }


  .sitewide-contact-area{
    .contact-envelope{
      color: $top-bar-font-color;
    }
    .sitewide-contact-us{
      color: $top-bar-font-color;
      margin-left: 10px;
    }

    .sitewide-contact-us-link{
      color: $top-bar-font-color;
      font-family: $roboto-condensed;
    }
  }
}

.no-horizontal-padding{
  padding-left: 0px;
  padding-right: 0px;
}