// Place all the styles related to the Errors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables";
@import "brand_forms";

.new-registration-row{
  margin-bottom: 100px;
}

.shared-link{
  font-family: $roboto-condensed;
  font-size: $mid-banner-font-size;
  a{
    color: $light-font-color;
  }
  margin-bottom: 8px;
}

.partial-white-hr{
  width: 65%;
  border-color: white;
}

.devise-subtext{
  font-family: $roboto-condensed;
  font-size: $small-font-size;
  color: $light-font-color;
  font-weight: 300;
  margin-top: 5px;
}

.remember-me{
  color: $light-font-color;
  font-family: $roboto-condensed;
}