// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables";
@import "mixins";
@import "brand_forms";
@import "styled_select";

a.full-post-link{
  color: inherit;
  &:hover{
    text-decoration: inherit;
  }
}

.reply-display-row{
  padding-bottom: 20px;
  padding-top: 20px;
  border-bottom: 1px solid #eee;
}

.post-comments-row{
  .carded-content{
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .reply-display-row{
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 1px solid #eee;

    .review-info-holder{
      .delete{
        float: right;
        a{
          color: $brand-solid-grey-text;
          &:hover{
            color: $brand-dark-purple;
          }
        }
      }
      
      .full-review{
        font-family: $roboto;
        font-weight: 300;
        margin-top: 30px;
      }

      .reviewer-name{
        font-family: $roboto;
        color: $brand-off-black-two;
        font-size: 16px;
        font-weight: 400;
      }

      .review-date{
        color: #bbb;
        font-size: 12px;
        font-weight: 400;
        border-left: 1px solid #aaa;
        margin-left: 10px;
        padding-top: 2px;
        padding-left: 10px;
      }
    }
  }

  .add-a-reply-link{
    margin-top: 10px;
    margin-bottom: 5px;
  }
}

.post-reviews-row.with-post{
  margin-top: 20px;
}

.post-reviews-row{
  margin-top: 60px;

  .review-cols{
    margin-bottom: 20px;
    .carded-content{
      .review-info-holder{
        display: inline-block;
        margin-left: 40px;
        vertical-align: top;
        width: calc(100% - 175px);

        .delete{
          float: right;
          a{
            color: $brand-solid-grey-text;
            &:hover{
              color: $brand-dark-purple;
            }
          }
        }

        .full-review{
          font-family: $roboto;
          font-weight: 300;
          margin-top: 30px;
          width: 65%;
        }
        .report-dropdown{
          float: right;
          display: inline-block;
          position: relative;
          cursor: pointer;
          .dropdown-menu{
            .dropdown-item{
              color: red;
              font-family: $roboto;
              font-size: 14px;
              font-weight: 500;
            }
          }
          .report-dropdown-icon{
            color: #b3b3b3;
          }
        }
        .reviewer-name{
          display: inline-block;
          font-size: 20px;
          font-weight: 500;
          font-family: $roboto;
          .review-date{
            color: #bbb;
            font-size: 12px;
            font-weight: 400;
            border-left: 1px solid #aaa;
            margin-left: 10px;
            padding-top: 2px;
            padding-left: 10px;
          }
        }
      }
      .review-profile-picture-holder{
        display: inline-block;
        .review-profile-picture{
          .review-full-profile-picture-image{
            height: 110px;
            width: 110px;
            border-radius: 50%;
            border: 3px solid $brand-dark-purple;
          }
        }
      }
    }
  }
  .talk-bubble-with-circle{
    background-color: white;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    box-shadow: 0px 4px 10px 0px rgba(128, 128, 128, 0.5);
    display: inline-block;

    .user-reviews-icon{
      font-size: 35px;
      color: $brand-dark-purple;
      margin-left: 9px;
      margin-top: 12px;
    }
  }
  .reviews-banner{
    display: inline-block;
    margin-left: 20px;
    font-size: 30px;
    font-weight: 700;
    font-family: $roboto;
    @include gradient-text(0deg, $brand-dark-purple, $brand-light-purple);
  }
}

.new-post-comment-form{
  border-top: 1px solid lighten($brand-light-purple, 15%);
  padding-top: 45px;
}

.new-post-comment-form, .new-reply-form{
  margin-top: 30px;

  .carded-content{
    padding-top: 30px;
    padding-bottom: 10px;
  }

  .submit-holder{
    margin-left: 20px;
    margin-top: auto;
    margin-bottom: auto;
  }

  .new-comment-label{
    font-family: $roboto;
    font-weight: 300;
    font-size: 14px;
    color: lighten($brand-solid-grey-text, 15%);
  }

  .textarea-holder{
    ::placeholder{
      color: #a9a9a9;
    }
  }

  .new-comment-textarea{
    border: none;
    resize: none;
    &:focus{
      box-shadow: none;
    }
  }

  .new-comment-submit-holder{
    .branded-pill-button{
      font-family: $roboto;
      font-weight: 400;
      font-size: 15px;
      padding: 15px 25px;
    }
  }
}

.result-row{
  margin-top: 1.5rem;

  .center-v{
    margin: auto 0;
  }

  .post-row-link{
    color: inherit;
    &:hover{
      text-decoration: inherit;
    }
  }

  .price{
    font-family: $roboto;
    font-weight: 700;
    font-size: 18px;
    color: #6f5eed;
  }

  .pricing-word{
    font-size: 14px;
    margin-top: -7px;
    font-style: italic;
  }

  .rating{
    .rating-count{
      font-family: $roboto;
      font-style: italic;
      margin-left: 5px;
      font-size: 12px;
      font-weight: 300;
    }

    .no-ratings{
      font-family: $roboto;
      font-size: 13px;
      font-weight: 300;
      color: $brand-solid-grey-text;
    }
  }

  .edit-button{
    margin-right: 5px;
  }

  .time-ago{
    font-family: $roboto;
    font-weight: 400;
    font-size: 13px;
    color: $brand-solid-grey-text;
  }
  .post-title{
    font-family: $roboto;
    font-size: 20px;
    font-weight: 500;
    color: $brand-off-black-two;
  }

  .offering{
    color: $light-font-color;
    font-family: $roboto;
    font-size: 11px;
    font-weight: 700;
    background-color: $brand-dark-purple;
    height: 21px;
    width: 21px;
    line-height: 21px;
    border-radius: 50%;
    margin-right: 5px;
    vertical-align: text-bottom;
  }

  .seeking{
    color: $light-font-color;
    font-family: $roboto;
    font-size: 11px;
    font-weight: 700;
    background-color: $brand-callout-yellow;
    height: 21px;
    width: 21px;
    line-height: 21px;
    border-radius: 50%;
    margin-right: 5px;
    vertical-align: text-bottom;
  }

  .post-description{
    margin-top: 10px;
    font-family: $roboto;
    font-size: 15px;
    font-weight: 300;
  }
  .result-profile-picture-holder{
    .result-profile-picture{
      height: 90px;
      width: 90px;
      border-radius: 50%;
      border: 3px solid $brand-dark-purple;
    }
  }

  .result-user-name{
    font-family: $roboto;
    font-size: 16px;
    color: $brand-off-black-two;
    margin-top: 0.5rem
  }
}

.results-header-row{
  margin-top: 1.5rem;
  .header{
    // color: $brand-solid-grey-text;
    font-family: $roboto;
    font-weight: 300;
    font-size: 15px;
    @include gradient-text(0deg, darken($brand-dark-purple, 10%), lighten($brand-dark-purple, 3%));
  }
}

.my-post-count-row{
  padding-top: 50px;
}

.my-post-actions{
  padding-top: 1.5rem;
}

.post-count-row, .my-post-count-row{
  .sad-face-holder{
    .sad-face-icon{
      font-size: 120px;
      color: $brand-light-purple;
    }
  }

  .sorry{
    font-family: $roboto;
    font-size: 30px;
    font-weight: 700;
    @include gradient-text(0deg, $brand-dark-purple, $brand-light-purple);
    margin-top: 0.5rem;
    margin-bottom: 0.75rem;
  }

  .no-posts{
    font-family: $roboto;
    font-weight: 300;
    margin-top: 30px;
    color: $brand-solid-grey-text;
    margin-bottom: 30px;
    width: 80%;
    margin: auto;
    padding-bottom: 10px;
  }

  .message-them{
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .make-posts{
    font-family: $roboto;
    margin-top: 15px;
    font-weight: 300;
  }
  .criteria-holder{
    margin-top: 15px;
    .criteria-item{
      font-family: $roboto;
      font-size: 11px;
      font-weight: 700;
      color: $light-font-color;
      background-color: $brand-dark-purple;
      border-radius: 50px;
      padding: 5px 11px;
      margin-right: 5px;
    }
  }
  .found-jobs-line{
    font-size: 22px;
    color: $brand-off-black-two;
    font-family: $roboto;
    font-weight: 500;

    .number-found, .subcategory-searched{
      @include gradient-text(0deg, $brand-dark-purple, $brand-light-purple);
    }
  }
}

.post-index-toggle-button{
  margin-top: 30px;
  .browse-categories-button{
    margin-left: 20px;
  }
}

.post-index-search-row.less-margin-top{
  .card-brand-color{
    margin-top: 1.5rem !important;
  }
}

.hidden{
  display: none;
}

.post-browse-categories-row{
  .internal-browse-row{
    .category-card{
      margin-top: 30px;
      .category-link{
        &:hover{
          text-decoration: none;
        }
        .squeezer{
          width: 80%;
          margin-left: auto;
          margin-right: auto;
          padding-top: 30px;
          padding-bottom: 40px;
          &:hover{
            background-color: #fafdfe;
            box-shadow: 0px 0px 6px 2px rgba(128, 128, 128, 0.25);
          }
          .category-description{
            font-family: $roboto;
            font-weight: 300;
            color: $brand-solid-grey-text;
            margin-top: 15px;
            width: 50%;
            margin-left: auto;
            margin-right: auto;
            font-size: 14px;
          }
          .category-name{
            font-family: $roboto;
            color: $brand-off-black-two;
            margin-top: 15px;
          }
          .image-underliner{
            border-top: 1px solid $brand-dark-purple;
            width: 20px;
            margin-top: 10px;
            margin-left: auto;
            margin-right: auto;
          }
          .icon-image-holder{
            .icon-image{
              height: 125px;
              width: 125px;
            }
          }
        }
      }
    }
  }
}

.post-browse-categories-headline-row{
  .browse-by-category{
    font-family: $roboto;
    @include gradient-text(0deg, $brand-dark-purple, $brand-light-purple);
    display: block;
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: 700;
    margin-top: 20px;
  }
}

.post-index-search-row{
  .radio-button-label{
    label{
      margin-bottom: 2px;
    }
  }
  .search-card-body{
    padding-top: 0.5rem;
    padding-bottom: 1rem;
  }
  .card-title{
    margin-bottom: 0.5rem;
  }

  .custom-search-title{
    font-size: 26px;
  }

  .card-brand-color{
    padding: 10px 30px;
    border-radius: 0.25rem;
  }

  .category-label{
    margin-bottom: 10px;
  }

  .search-filters-row{
    [class*="col-"]{
      margin-top: 3px;
    }
  }

}

.gallery-instruction{
  font-family: $roboto;
  font-weight: 300;
  font-size: 13px;
  margin-left: 15px;
}

.post-breadcrumb-row{
  margin-top: 30px;

  .button-room{
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .post-breadcrumb{
    font-family: $roboto;
    font-weight: 500;
    font-size: 16px;
    color: $brand-dark-purple;
    margin-right: 10px;
  }
  .right-arrow{
    margin-right: 10px;
    font-size: 13px;
    font-family: $roboto;
    vertical-align: text-bottom;
    color: $brand-light-purple;
  }
}

.post-preview-instruction-row{
  margin-top: 30px;

  .carded-content{
    background-color: lighten($brand-callout-yellow, 35%);

    .is-preview{
      font-family: $roboto;
    }

    .btn-vs{
      font-size: 12px;
      font-family: $roboto;
      padding: 5px 15px;
      margin-left: 10px;
    }
  }
}

.post-display-row.post-show-page{
  margin-top: 20px;
}

.post-display-row{
  margin-top: 20px;

  .updated-recently{
    &:hover{
      padding: 5px 15px;
      box-shadow: none;
    }
  }

  .review-holding-area{
    padding-top: 15px;
    .author-information-area{
      width: 25%;

      a.author-profile-picture-holder{
        color: $brand-off-black-two;
        &:hover{
          text-decoration: none;
        }
      }

      .author-profile-picture-holder{
        .author-profile-picture{
          height: 50px;
          width: 50px;
          border-radius: 50%;
          border: 2px solid $brand-dark-purple;
        }
      }

      .author-name{
        font-family: $roboto;
        padding-top: 7px;
        font-size: 13px;
      }

      .reviewed-at{
        font-family: $roboto;
        font-weight: 300;
        color: $brand-solid-grey-text;
        font-size: 12px;
      }
    }

    .review-information-area{
      vertical-align: top;
      width: 70%;
      margin-left: 5%;

      .review-stars-and-count{
        .review-count-holder{
          font-family: $roboto;
          margin-left: 5px;
          font-weight: 300;
          font-size: 13px;
        }
      }

      .review-title{
        font-family: $roboto;
        font-size: 20px;
        margin-top: 8px;
        line-height: 22px;
      }

      .review-text{
        font-family: $roboto;
        font-weight: 300;
        margin-top: 25px;
      }

      .review-link{
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }
  }

  .see-all-reviews{
    margin-top: 20px;
    .star-icon{
      .more-reviews-star{
        color: $brand-callout-yellow;
        font-size: 12px;
      }
    }

    .see-all-reviews-link{
      @include gradient-text(0deg, $brand-dark-purple, $brand-light-purple);
      font-family: $roboto;
      font-weight: 700;
      font-size: 20px;
      margin-left: 10px;
      vertical-align: middle;
    }

    .right-arrow-link{
      vertical-align: text-top;
    }

    .right-arrow{
      margin-left: 10px;
      background-color: white;
      box-shadow: 1px 1px 8px 0px #ccc;
      height: 20px;
      width: 20px;
      border-radius: 50%;

      .see-all-reviews-right{
        font-size: 17px;
        vertical-align: middle;
        margin-left: 8px;
        color: $brand-light-purple;
        margin-bottom: 5px;
      }
    }
  }

  .no-reviews-holder{
    margin-top: 50px;
    .sad-cry-icon{
      font-size: 80px;
      color: lighten($brand-light-purple, 7.5%);
    }

    .sorry{
      font-family: $roboto;
      font-size: 30px;
      @include gradient-text(0deg, $brand-dark-purple, $brand-light-purple);
      font-weight: 700;
      margin-top: 15px;
    }

    .no-reviews{
      font-family: $roboto;
      font-weight: 300;
      color: $brand-solid-grey-text;
      font-size: 15px;
      margin-top: 15px;
    }
  }

  .review-headline-and-icon{
    .review-icon-holder{
      color: $brand-callout-yellow;
      font-size: 25px;
      vertical-align: top;
    }

    .review-headline{
      margin-left: 10px;
      font-family: $roboto;
      font-weight: 500;
      font-size: 27px;
      color: $brand-off-black-two;
    }
  }

  .update-area{
    .update-headline{
      font-family: $roboto;
      font-size: 20px;
      margin-top: 20px;
      @include gradient-text(0deg, $brand-dark-purple, $brand-light-purple);
    }

    .update-text-preview{
      max-height: 65px;
      overflow-y: hidden;
      font-family: $roboto;
      font-weight: 300;
      margin-top: 15px;
      line-height: 25px;
    }

    .update-text-preview.show-full{
      max-height: inherit;
      @include transition();
    }

    .update-text-full{
      display: none;
    }

    .update-click-to-see-more{
      margin-top: 20px;
      @include gradient-text(0deg, $brand-dark-purple, $brand-light-purple);
      cursor: pointer;
    }
  }

  .description-area{
    .description-headline{
      font-family: $roboto;
      font-size: 20px;
      margin-top: 20px;
      color: $brand-off-black-two;
    }

    .description-text{
      font-family: $roboto;
      font-weight: 300;
      margin-top: 15px;
      line-height: 25px;
      color: #777777;
    }
  }

  .job-information-row{
    margin-top: 20px;
    padding-top: 13px;
    padding-bottom: 13px;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;

    .info-type{
      font-family: $roboto;
      font-size: 13px;
      color: #999;
      font-weight: 300;
      margin-left: 10px;
      margin-right: 5px;
    }

    .info-type:first-child{
      margin-left: 0px;
    }

    .info-data{
      margin-right: 25px;
      font-size: 13px;
      font-weight: 700;
    }
  }

  .title-and-price{
    .post-title{
      font-family: $roboto;
      font-size: 20px;
      margin-top: 15px;
      width: 75%;
      color: $brand-off-black-two;
    }

    .post-price-info{
      width: 25%;

      .post-price-unit{
        font-size: 12px;
        font-family: $roboto;
        font-weight: 300;
        margin-top: -8px;
        font-style: italic;
        color: $brand-solid-grey-text;
      }

      .post-price-number{
        .dollar-sign{
          font-size: 15px;
          position: relative;
          top: -0.5em;
          margin-right: 2px;
        }
        color: darken($brand-dark-purple, 5%);
        font-size: 25px;
        font-family: $roboto;
      }
    }
  }

  .interested{
    margin-top: 30px;
    font-family: $roboto;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 5px;
  }

  .user-rating{
    margin-top: 20px;
    .user-rating-text{
      font-family: $roboto;
      font-weight: 300;
      font-size: 15px;
      font-style: italic;
    }

    .user-rating-count{
      font-family: $roboto;
      margin-left: 5px;
      font-weight: 300;
      font-size: 13px;
    }
    .user-rating-none{
      font-family: $roboto;
      font-weight: 300;
      font-size: 13px;
      color: $brand-solid-grey-text;
      margin-top: -3px;
    }
  }

  .service-rating{
    margin-top: 20px;
    .service-rating-none{
      font-family: $roboto;
      font-weight: 300;
      font-size: 13px;
      color: $brand-solid-grey-text;
      margin-top: -3px;
    }
    .service-rating-text{
      font-family: $roboto;
      font-weight: 300;
      font-size: 15px;
      font-style: italic;
    }

    .service-rating-count{
      font-family: $roboto;
      margin-left: 5px;
      font-weight: 300;
      font-size: 13px;
    }
  }

  .ratings-headline{
    font-size: 20px;
    font-family: $roboto;
    margin-top: 10px;
  }

  .post-display-name{
    font-family: $roboto;
    margin-top: 7px;
    font-size: 20px;
  }

  .post-time-ago{
    font-family: $roboto;
    font-weight: 300;
    font-size: 13px;
    color: $brand-solid-grey-text;
  }

  a.post-profile-link{
    color: $brand-off-black-two;
    &:hover{
      text-decoration: none;
    }
  }
  .post-profile-picture-holder{
    .post-profile-picture{
      height: 160px;
      width: 160px;
      border-radius: 50%;
      border: 3px solid $brand-dark-purple;
    }
  }
}

.post-form-containing-row{
  padding-top: 30px;

  .post-controls{
    margin-left: 50px;

    .post-options{
      font-family: $roboto;
      font-size: 20px;
      font-weight: 500;
    }

    .post-control{
      margin-top: 1rem;
    }

    .post-control-option{
      width: 160px;
    }
  }

  .post-form-headline{
    font-family: $roboto;
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: 700;
    @include gradient-text(0deg, $brand-dark-purple, $brand-light-purple);
  }
  #pricing-style-text{
    font-style: italic;
    font-family: $roboto;
    font-weight: 300;
    font-size: 14px;
    margin-left: 10px;
  }
}

.attachment-actions-row{
  .attachment-actions{
    margin-top: 20px;
    .add-attachment{
      margin-right: 20px;
    }
  }
}

.attachment-gallery-row.on-preview-page{
  margin-top: 30px;
}

.attachment-gallery-row{
  padding-bottom: 35px;

  .attachment-previews-row{
    margin-bottom: 30px;

    .document-preview.with-line-height{
      line-height: 131px;
    }
    .document-preview{
      background-color: rgba($brand-light-purple, 0.1);

      .document-preview-icon{
        color: $brand-dark-purple;
        font-size: 55px;
        line-height: 131px;
      }

      .document-preview-image{
        max-height: 100px;
        max-width: 100px;
      }
    }

    .post-attachment-preview-row{
      margin-top: 55px;

      .document-controls{
        width: 155px;
        margin-left: 20.5%;
        margin-bottom: -15px;
        display: flow-root;

        .document-control{
          background-color: white;
          border-radius: 50%;
          box-shadow: 3px 3px 3px 3px gray;
          height: 25px;
          width: 25px;
          box-shadow: -1px 1px 8px 2px #d6d6d6;
        }
        .edit-control{
          display: inline-block;
          .edit-control-icon{
            color: $brand-dark-purple;
            font-size: 15px;
            width: 50%;
            margin-left: 5px;
          }
        }

        .delete-control{
          display: inline-block;
          float: right;
          .delete-control-icon{
            color: darken($brand-warning-color, 10%);
            font-size: 16px;
            width: 50%;
            margin-left: 7px;
            margin-top: 4px;
          }
        }
      }
      .post-attachment-preview{
        border: 2px solid rgba($brand-light-purple, 0.5);
        border-radius: 5px;
        width: 135px;
        height: 135px;

        .delete-button{
          color: darken($brand-warning-color, 10%);
          position: absolute;
          font-size: 30px;
          right: 68px;
          top: -22px;
          background-color: purple;
          height: 35px;
          width: 35px;
          cursor: pointer;
        }
      }
    }

    .post-attachment-description{
      font-family: $roboto;
      font-weight: 300;
      font-size: 15px;
      margin-top: 5px;
    }
  }

  .no-attachments{
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: $roboto;
    font-weight: 300;
    font-size: 14px;
    font-style: italic;
  }
}